<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="30 seconds">
	<contextName>taskmanagerlogging</contextName>

	<property name="DEFAULT_LOG_LEVEL" value="INFO" />
	<property name="LOG-FILE-NAME" value="task-manager.log" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<includeCallerInfo>false</includeCallerInfo>
			<timeZone>UTC</timeZone>
			<fieldNames>
				<version>[ignore]</version>
			</fieldNames>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${logDir}\${LOG-FILE-NAME}</file>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<includeCallerInfo>false</includeCallerInfo>
			<timeZone>UTC</timeZone>
			<fieldNames>
				<version>[ignore]</version>
			</fieldNames>
		</encoder>
	</appender>

	<root level="${DEFAULT_LOG_LEVEL}">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>